.hero {
  position: relative;
  max-width: 100vw;
  height: 100vh;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    & img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }

    & .overlay {
      height: 100%;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
      z-index: 2;
      position: absolute;
    }
  }

  &__content {
    position: absolute;
    z-index: 3;
    color: $color-white;
    top: 55%;
    left: 5%;
    transform: translateY(-50%);
  }

  &--subheading {
    font-size: 2.1rem;
    position: relative;
    padding-left: 8.6rem;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 10rem;
      background-color: $color-white;
      top: 1.7rem;
      left: -28px;
    }
  }

  & .btn {
    color: inherit;
    font-size: 2.1rem;
    text-transform: none;
  }

  & h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .swiper {
    &-slide {
      height: 100vh !important;
    }

    &-pagination {
      transform: rotate(90deg);
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 55%;
      right: 4%;

      &-bullet {
        background-color: $color-white;
        width: 1.2rem;
        height: 1.2rem;
        opacity: 1;
        border-radius: 0;
        position: unset;
        vertical-align: middle;
        transition: all 0.5s ease;

        &-active {
          transform: scale(1.5);
          padding: 1rem;
          border: 1px solid red;
        }

        &:nth-child(2) {
          margin: 0 4rem;
        }
      }
    }
  }
}

.section {
  //About Section
  &-about {
    padding: 8rem 4% 8rem 0;

    &__img {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/img/about.jpg");
      background-position: 50% 50%;
      height: 90rem;
    }
    .h2 {
      margin-bottom: 2rem;
    }
    .paragraph {
      font-size: 1.8rem;
    }
  }

  //CTA Section
  &-cta {
    position: relative;

    opacity: 1;
    padding-bottom: 290px;
    max-height: none;
    //margin-top: 180px;
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: transparent;
      height: 30rem;
      width: 100%;
      content: "";
      display: block;
      min-height: 0;
      // padding-top: 17%;
      //margin-top: 17%;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(hsla(0, 0%, 100%, 0)),
        color-stop(90%, $color-white)
      );
      background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 98%);
      z-index: 9;
    }
    .cta {
      height: auto;
      overflow: hidden;

      &__bg {
        background-size: 100% auto;
        background-position: bottom;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-repeat: no-repeat;
      }

      &__inner {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        margin: auto;
        right: 0;
        text-align: center;
        z-index: 2;

        & * {
          max-width: 90rem;
          width: 100%;
        }
      }

      &__content {
        &--subtitle {
          margin-bottom: 2.8rem;
          color: $color-grey-dark-2;
          font-size: 3rem;
          font-weight: 400;
          margin-top: 3rem;
          font-size: 2rem;
          letter-spacing: 0.1em;
          color: $color-grey-dark;
        }
        &--title {
          font-size: 4rem;
          font-weight: 500;
          line-height: 1.2em;
          font-family: "Lora", sans-serif;
          color: $color-brown-dark;
        }
        &--title,
        .btn {
          width: auto;
        }
      }
    }

    //Section-cta
    & &__bg,
    & > &__inner {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  //Section-promotions

  &-promotions {
    padding: 9rem 4% 9rem 0;
    &__img {
      background-image: url("/img/promotions.jpg");
      height: 90rem;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .line {
      height: 1px;
      width: 100%;
      margin: 4rem 0;
      background-color: $color-grey-light;
    }

    ul {
      list-style: circle;
      list-style-position: inside;
    }
  }

  &-booking {
    .form {
      min-height: 25rem;
      background-color: $color-blue;

      &__wrap {
        border: 1px solid rgba($color-white, 0.1);
      }
    }

    .form .box {
      height: 20rem;

      .input {
        height: 80%;

        &__inner {
          height: 90%;
          width: 100%;
          background-color: rgba($color-white, 0.05);

          .label {
            //width: 100%;
            text-align: center;
            font-size: 1.2rem;
            color: $color-white !important;
            margin-bottom: -0.4rem;
            letter-spacing: 0.2em;
          }
        }

        &__content {
          width: 100%;
          height: fit-content;
          text-align: center;
          position: absolute;
          z-index: 2;

          .date,
          .month,
          .guests__number,
          .guests__add,
          .guests__minus,
          .rooms__number,
          .rooms__add,
          .rooms__minus {
            color: $color-brown-light;
            font-family: "lora", sans-serif;
          }

          .date,
          .guests__number,
          .rooms__number {
            font-size: 5rem;
          }

          .month {
            font-size: 2.5rem;
          }

          .guests__add,
          .guests__minus,
          .rooms__add,
          .rooms__minus {
            font-size: 4rem;
          }
        }
      }
    }
  }
}
