.bird {
  position: absolute;
  background-image: url(../svg/bird-cells.svg);
  background-size: auto 100%;
  width: 1.6rem !important;
  height: 2.4rem;
  will-change: background-position;

  animation-name: fly;
  animation-duration: 1s;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  overflow: hidden;

  &:first-child {
    animation-delay: 0.3s;
  }
  &:nth-child(3) {
    animation-delay: 0.5s;
  }
  &:nth-child(5) {
    animation-delay: 0.8s;
  }
}

.bird-wrapper {
  height: 29rem;
  left: 0;
  bottom: 0;
  position: absolute;
  max-width: 144rem !important;
  z-index: -1;

  @include respond(phone) {
    height: 25rem;
  }
}
@keyframes fly {
  100% {
    background-position: -17.1rem 0;
  }
}
