.bird {
  position: absolute;
  background-image: url(/svg/bird-cells.svg);
  background-size: auto 100%;
  width: 16px !important;
  height: 24px;
  will-change: background-position;

  animation-name: fly;
  animation-duration: 1s;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  overflow: hidden;

  &:first-child {
    animation-delay: 0.3s;
  }
  &:nth-child(3) {
    animation-delay: 0.5s;
  }
  &:nth-child(5) {
    animation-delay: 0.8s;
  }
}

.bird-wrapper {
  height: 290px;
  left: 0;
  position: absolute;
  max-width: 1440px !important;
  z-index: -1;
}
@keyframes fly {
  100% {
    background-position: -171px 0;
  }
}
