.btn {
  display: inline-block;
  color: $color-white !important;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  background-color: $color-brown-dark;
  z-index: 2;
  text-transform: uppercase;
  border-radius: 0;
  @include respond(phone) {
    font-size: 1.8rem;
    //padding: 1rem 3rem;
  }
  &:hover {
    //Overide bootstrap btn hover style
    color: $color-white !important;
  }
  &--text {
    background-color: transparent;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;

    & span {
      position: absolute;
      width: 1.1rem;
      overflow: hidden;
      transform: translateX(1rem);
      -webkit-transform: translate(1rem);
      transition: all ease 0.5s;

      & img {
        width: inherit;
        vertical-align: 0px !important;
        transition: all ease 0.5s;
      }
    }

    &:hover span {
      transform: translateX(1.2rem);
      -webkit-transform: translate(1.2rem);
      @include respond(phone) {
        transform: unset;
      }
    }
  }
}
