.menu {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  visibility: hidden;
  font-family: "Playfair Display", sans-serif;
  width: 100vw;
  height: 100vh;
  z-index: 8;

  @include respond(phone) {
    overflow-y: scroll;
  }

  &__left,
  &__right {
    //width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    //padding: 10vh 4%;
    position: fixed;
    z-index: 12;
    align-items: center;
    justify-content: center;

    overscroll-behavior: contain;

    @include respond(phone) {
      //implement with js instead
      width: 100vw !important;
      position: unset;
      // padding: 0 8%;
      justify-content: unset;
      // height: 0vh;
    }
  }

  &__left {
    @include respond(phone) {
      height: 75vh;
      position: unset !important;
    }
  }

  &__right {
    display: flex;
    @include respond(phone) {
      //reconsider "Left"
      display: block;
      left: unset !important;
      height: 25vh;
    }

    .menu__list {
      @include respond(phone) {
        padding: 0;
        width: 100%;
      }
    }
  }

  &__list {
    visibility: hidden;

    width: fit-content;
    height: fit-content;
    position: fixed;
    z-index: 1000;
    padding: 15% 0 8% 0;

    @include respond(phone) {
      //height: 100%;
      width: 100%;
    }
    // &--right {
    //   min-height: 20rem;
    // }
  }

  &__item {
    position: fixed;
  }

  &__link,
  &__link--right {
    display: block;
    color: $color-white !important;
    transition: opacity 0.3s linear;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include respond(phone) {
      text-align: center;
      //margin-bottom: 1rem;
    }
    &::after {
      content: "";
      // margin-top: 2.2rem;
      bottom: -10%;
      left: 0;
      width: 0%;
      background-color: $color-white;
      height: 2px;
      position: absolute;
      // transform: translateX(-50%);
      transition: width 0.3s ease;
    }

    &:hover {
      &:after {
        width: 50%;
        @include respond(phone) {
          all: unset;
        }
      }
    }
  }

  &__link {
    font-size: 3.8rem;
    //  text-align: center;
    @include respond(phone) {
      // font-size: 4rem;
      margin-bottom: 1.4rem;
    }

    &--right {
      font-size: 1.8rem !important;
      font-family: "mulish", serif !important;
      display: block;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-bottom: 3rem;
        @include respond(phone) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__social {
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 18;
    padding: 2rem 0;
    visibility: hidden;

    // @include respond(phone) {
    //   display: none;
    // }
    img {
      width: 2rem;
      height: auto;

      @include respond(phone) {
        width: 1.6rem;
      }
      &:last-child {
        margin-left: 3rem;

        @include respond(phone) {
          margin-left: 1.2rem;
        }
      }
    }
  }
}

.test-box {
  height: 1rem;
  width: 1rem;
  background-color: $color-white;
  position: absolute;
  z-index: 33;
}
