*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  background-color: $color-white;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}
