body:not(i) {
  font-family: "mulish", serif;
}
.h1,
.h2,
.h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 200;
  line-height: 93%;
  letter-spacing: 1.2%;
}
.h1 {
  font-size: 7.2rem;
  @include respond(phone) {
    font-size: 4.6rem;
  }
}
.h2 {
  font-size: 4.2rem;
  position: relative;
  color: $color-brown-dark;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   height: 1px;
  //   width: 2.5rem;
  //   top: 1.9rem;
  //   left: -0.3rem;
  //   background-color: $color-brown-dark;
  // }
}

.list-item + .paragraph {
  margin-bottom: 2rem;
  @include respond(tab-land) {
    margin-bottom: 1rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  color: $color-grey-dark;

  @include respond(tab-port) {
    font-size: 2rem;
    margin-bottom: 2.2rem;
  }

  @include respond(large-desktop) {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
.foreground-section__title {
  font-size: 3.4rem;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  line-height: 1em;
}

.foreground-section__description p {
  font-size: 1.5rem;
}
.section-promotions__title {
  color: $color-black;
  font-weight: 600;
  font-size: 1.8rem;
  @include respond(tab-port) {
    font-size: 2rem;
  }
}
