.padding-trl {
  padding: 5.5rem 4rem 0 4rem;
}

.padding-x {
  padding: 0 3rem;
}
.padding-y {
  padding: 3rem 0;
}

.no-scroll {
  overflow: hidden;
  // position: fixed;
  height: 100vh;
}

//background-color: rgba(0, 0, 0, 0.2);
.backdrop-filter {
  background-color: black;
}
/* Gets applied if supported only */

@supports (
  (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px))
) {
  .backdrop-filter {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}
