.padding-trl {
  padding: 5.5rem 4rem 0 4rem;
}

.padding-x {
  padding: 0 3rem;
}
.padding-y {
  padding: 3rem 0;
}

.no-scroll {
  overflow: hidden;
  // position: fixed;
  height: 100vh;
}

.backdrop-filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
