.header {
  position: absolute;
  z-index: 8;

  width: 100vw;
  height: fit-content;
  color: $color-white;

  .nav {
    display: flex;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 15vh;
    padding: 0 4%;
    align-items: center;

    &--logo {
      width: 8rem;
      height: auto;
      align-self: center;

      @include respond(phone) {
        width: 7rem;
      }
    }
    &__links {
      display: inherit;
      flex-direction: row;
      margin-left: auto;
      align-items: center;
      .btn {
        display: flex;
        border: 1px solid $color-white;
        justify-content: center;
        padding: 0.7rem 1.2rem;
        background-color: transparent;
      }
      &--text {
        font-size: 1.3rem;
      }
    }

    @include respond(phone) {
      height: 8vh;
    }
  }
}
