//GRID
$grid-width: 114rem;

//COLOR
$color-white: #fefefe;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #ddd;

$color-grey-dark-2: #202020;

//$color-brown-dark: #734214;
//$color-brown-light: #734214;
$color-brown-dark: #b2661f;

$color-brown-light: #b2661f;
$color-blue: #00101a;
